# http://EditorConfig.org

# This file is the top-most EditorConfig file
root = true

# All Files
[*]
charset = utf-8
#end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

# Solution Files
[*.sln]
indent_style = tab

# XML Project Files
[*.{csproj,vbproj,vcxproj,vcxproj.filters,proj,projitems,shproj}]
indent_size = 2

# Configuration Files
[*.{json,xml,yml,config,props,targets,nuspec,resx,ruleset,vsixmanifest,vsct}]
indent_size = 2

[*.cs]
# RCS1090: Call 'ConfigureAwait(false)'.
dotnet_diagnostic.RCS1090.severity = none

# CA1848: Use the LoggerMessage delegates
dotnet_diagnostic.CA1848.severity = silent

# CA1307: Specify StringComparison for clarity
dotnet_diagnostic.CA1307.severity = silent

# CA1849: Call async methods when in an async method
dotnet_diagnostic.CA1849.severity = silent

# CA1304: Specify CultureInfo
dotnet_diagnostic.CA1304.severity = silent

# CA1311: Specify a culture or use an invariant version
dotnet_diagnostic.CA1311.severity = silent

# CA1310: Specify StringComparison for correctness
dotnet_diagnostic.CA1310.severity = silent

# IDE0062: Make local function 'static'
dotnet_diagnostic.IDE0062.severity = silent

# CA1062: Validate arguments of public methods
dotnet_diagnostic.CA1062.severity = silent

# CA1031: Do not catch general exception types
dotnet_diagnostic.CA1031.severity = silent

csharp_align_multiline_parameter = true
csharp_align_multiline_extends_list = true
csharp_align_linq_query = true
csharp_place_attribute_on_same_line = false
csharp_empty_block_style = together
csharp_style_namespace_declarations = file_scoped
csharp_style_var_when_type_is_apparent = true
csharp_prefer_braces = when_multiline
dotnet_diagnostic.IDE0011.severity = silent
csharp_style_expression_bodied_constructors = when_on_single_line
csharp_style_expression_bodied_methods = when_on_single_line
csharp_style_expression_bodied_operators = when_on_single_line
dotnet_diagnostic.IDE0046.severity = silent
csharp_style_var_for_built_in_types = false
dotnet_diagnostic.IDE0008.severity = silent

# IDE0022: Use expression body for method
dotnet_diagnostic.IDE0022.severity = none

# IDE0040: Add accessibility modifiers
dotnet_style_require_accessibility_modifiers = never

# CA1515: Consider making public types internal
dotnet_diagnostic.CA1515.severity = none

# IDE0058: Expression value is never used
dotnet_diagnostic.IDE0058.severity = none

# IDE0010: Add missing cases
dotnet_diagnostic.IDE0010.severity = none

# CA2007: Consider calling ConfigureAwait on the awaited task
dotnet_diagnostic.CA2007.severity = silent

# IDE0055: Fix formatting
dotnet_diagnostic.IDE0055.severity = none

# IDE0021: Use expression body for constructor
dotnet_diagnostic.IDE0021.severity = silent

# CS1998: Async method lacks 'await' operators and will run synchronously
dotnet_diagnostic.CS1998.severity = silent

# SYSLIB1045: Convert to 'GeneratedRegexAttribute'.
dotnet_diagnostic.SYSLIB1045.severity = silent

[*.md]
trim_trailing_whitespace = false
indent_size = 2
