<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <packageSources>
    <add key="Nuget voids.site" value="https://nuget.voids.site/v3/index.json" />
    <add key="Telegram.Bot ci" value="https://pkgs.dev.azure.com/tgbots/Telegram.Bot/_packaging/Telegram.Bot/nuget/v3/index.json" />
  </packageSources>
</configuration>
