@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is your typical <a href="https://learn.microsoft.com/aspnet/core">ASP.NET Core</a> Razor example website.</p>
</div>
<p>We also included a</p>
<p>• the <a href="/demo">demo Webapp</a></p>
<p>• a <a href="/cafe">clone of DurgerKingBot</a></p>
